<table>
    <tr>
        <td class="tic-box" id="1" (click)="onMarkBox(0)">{{ elements[0] }}</td>
        <td class="tic-box" id="2" (click)="onMarkBox(1)">{{ elements[1] }}</td>
        <td class="tic-box" id="3" (click)="onMarkBox(2)">{{ elements[2] }}</td>
    </tr>
    <tr>
        <td class="tic-box" id="4" (click)="onMarkBox(3)">{{ elements[3] }}</td>
        <td class="tic-box" id="5" (click)="onMarkBox(4)">{{ elements[4] }}</td>
        <td class="tic-box" id="6" (click)="onMarkBox(5)">{{ elements[5] }}</td>
    </tr>
    <tr>
        <td class="tic-box" id="7" (click)="onMarkBox(6)">{{ elements[6] }}</td>
        <td class="tic-box" id="8" (click)="onMarkBox(7)">{{ elements[7] }}</td>
        <td class="tic-box" id="9" (click)="onMarkBox(8)">{{ elements[8] }}</td>
    </tr>
</table>

<!-- <div class="container-fluid tic-container">
    <div class="row tic-row">
        <div class="tic-box" id="1" (click)="onMarkBox(0)">{{ elements[0] }}</div>
        <div class="tic-box" id="2" (click)="onMarkBox(1)">{{ elements[1] }}</div>
        <div class="tic-box" id="3" (click)="onMarkBox(2)">{{ elements[2] }}</div>
    </div>
    <div class="row tic-row">
        <div class="tic-box" id="4" (click)="onMarkBox(3)">{{ elements[3] }}</div>
        <div class="tic-box" id="5" (click)="onMarkBox(4)">{{ elements[4] }}</div>
        <div class="tic-box" id="6" (click)="onMarkBox(5)">{{ elements[5] }}</div>
    </div>
    <div class="row tic-row">
        <div class="tic-box" id="7" (click)="onMarkBox(6)">{{ elements[6] }}</div>
        <div class="tic-box" id="8" (click)="onMarkBox(7)">{{ elements[7] }}</div>
        <div class="tic-box" id="9" (click)="onMarkBox(8)">{{ elements[8] }}</div>
    </div>
</div> -->

