table {
    width: 39vw;
    height: 39vw;
    color: rgb(1, 92, 87);
    font-size: 7vw;
    font-weight: 100;
    text-align: center;
    background-color: cornsilk;
    border-collapse: collapse;
}
td {
    width: 33.33333%;
    height: 33.33333%;
}
table, td, th {
    border: 2px solid black;
}
.tic-box:hover {
    background: rgb(46, 46, 77);
}

@media screen and (max-width:600px) {
    table {
      width: 90vw;
      height: 90vw;
    }
}