.box {
    float: left;
    margin: 1% 2.5% 1% 1%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
}
.box1 {
    width: 30%;
    background-color: rgb(46, 79, 99);
}
.box2 {
    width: 60%;
}

@media screen and (max-width:900px) {
    .box1, .box2 {
      width: 100%;
    }
}