.main {
    /* float: left; */
    display: flex;
    margin: 1%;
    justify-content: center;
    /* height: auto; */
}

.box {
    margin: 1%;
    padding: 1%;
}

.box1 {
    width: 30%;
    /* background-color: rgb(13, 26, 36); */
}

.box2 {
    width: 70%;
}

@media screen and (max-width:900px) {
    .main {
        flex-direction: column;
    }

    .box {
      width: 100%;
    }
}