<div class="container details">
    <div class="row">
        <h2>TIC-TAC-TOE</h2>
    </div>
    <hr><hr>
    <h5>Player-1: <span style="color: red;" *ngIf="turn">Playing</span></h5>
    <!-- <p>score: 0</p> -->
    <hr>
    <h5>Player-2: <span style="color: red;" *ngIf="!turn">Playing</span></h5>
    <!-- <p>score: 0</p> -->
    <hr><hr>
    <div class="row">
        <!-- <button class="btn btn-primary">New game</button> |  -->
        <button 
            class="btn btn-danger"
            (click)="onClear()">Clear game</button>
    </div>
    <hr>
    <!-- <div class="row">
        <button 
            class="btn btn-primary"
            (click)="onFetch()">Unfinished game</button>
    </div>
    <p style="font-size: 0.8em; color: yellowgreen;">If there is no unfinished game,<br> nothing will change.</p> -->
</div>