<div class="navbar navbar-default heading">
  <div class="container-fluid">
    <div class="navbar-header">
      <a 
        routerLink="/" 
        class="navbar-brand">
          <h1>TIC-TAC-TOE
            <span style="font-size: small;">A game to relax</span>
          </h1>
      </a>
    </div>
    <div class="nav">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/rules" style="color: rgb(14, 180, 42);">Rules</a></li>
        <hr>
        <li routerLinkActive="active"><a routerLink="/loginOrSignup" style="color: rgb(14, 180, 42);" *ngIf='!isSignin'>Login/Signup</a></li>
        <button class="btn btn-danger" (click)='onLogout()' *ngIf='isSignin'>Logout</button>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>