.heading {
    color: whitesmoke;
    background-color: black;
    font-style: italic;
    padding: 1%;
    text-align: center;
}
.box {
    margin: 1% 2.5% 1% 1%;
    padding-left: 5%;
    padding-right: 5%;
}
.d {
    background-color: rgb(46, 79, 99);
}