.heading {
    color: whitesmoke;
    background-color: black;
    font-style: italic;
    padding: 1%;
    text-align: center;
}

.rules {
    padding: 1.5%;
    background-color: rgb(241, 245, 241);
    border-radius: 0.25rem;
}

.auth {
    padding: 1.5%;
    background-color: rgb(241, 245, 241);
    border-radius: 0.25rem;
}

.rules a, .auth a {
    margin: 1rem;
    color: black;
}