.tic-container {
    border: 1px solid black;
    width: 600px;
    height: 600px;
}
.tic-row {
    height: 33.33%;
    border: 1px solid black;
    text-align: center;
}
.tic-box {
    width: 33.33%;
    border: 1px solid black;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: rgb(1, 92, 87);
    background-color: cornsilk;
}
.tic-box:hover {
    background: rgb(46, 46, 77);
}